@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1e2c;
}

.container {
  max-width: 1110px;
  max-height: 446px;
  background-color: #1b1937;
  display: flex;

  .content {
    padding: 71px 95px 59px 72px;
    color: #ffffff;
    font-family: "Inter", sans-serif;

    .text {
      margin-bottom: 72px;
    }

    .text > h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 25px;
    }

    .text > h1 > span {
      color: #ba65ee;
    }

    .text > p {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      opacity: 75%;

      br {
        display: none;
      }
    }
  }

  .stats {
    display: flex;
    gap: 63px;
    .stat > h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: #ffffff;
      font-family: "Inter", sans-serif;
      margin-bottom: 2px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      font-family: "Lexend Deca", sans-serif;
      opacity: 75%;
    }
  }

  .image {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
    max-width: 327px;
    max-height: 780px;

    .content {
      padding: 40px 31.5px 32px 31.5px;
    }
  }

  .image {
    border-bottom-right-radius: 0px;
    height: 270px;
    img {
      width: 327px;

      border-top-left-radius: 8px;
      border-bottom-right-radius: 0px !important;
    }
  }

  .text {
    margin-bottom: 40px !important;

    h1 {
      font-size: 28px !important;
      font-weight: 700;
      line-height: 32px;
      text-align: center;
      margin-bottom: 16px !important;

      span {
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
      }
    }

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      text-align: center;

      br {
        display: block !important;
      }
    }
  }

  .stats {
    flex-direction: column;
    gap: 24px !important;
    align-items: center;
    text-align: center;
  }

  .stat {
    h2 {
      font-size: 24px;
    }

    p {
      font-size: 12px;
    }
  }
}
